
#poweredBy {
  visibility: hidden;
}

#bannerLeft img {
  padding: 35px 0 0 25px
}

#leftColumn {
  margin: 30px 0 0 5px;
  border: none;
  background-color: white;
}

#navcolumn li {
    line-height: 1.5em;
    font-size: 0.95em;
}

#navcolumn h5 {
  font-size: 0.95em;
}

h2 {
  padding: 0;
  border: none;
  color: black;
  background-color: white;
  font-weight:bold;
  font-size: large;
  text-align: center;
}
h3 {
  padding: 0;
  border: none;
  color: black;
  background-color: white;
  font-weight: normal;
  font-size: large;
}
h4 {
  padding: 0;
  border: none;
  background-color: white;
  color: black;
  font-weight: normal;
  font-size: large;
}

h5 {
  padding: 0;
  background-color: white;
  color: black;
}